PROJECT_NAME=hwgw-pipeline

GITHUB_USERNAME=xxx
GITHUB_PERSONAL_ACCESS_TOKEN=xxx

# Develop
COMPOSE_FILE=./docker-compose.yml:./docker-compose.local.yml

DATABASE_URI=sqlite:///../app.db
DTSCATALOG=/data/dts/catalog/collection.xml
# test
# DTSCATALOG=tests/catalog/example-collection.xml
SERVER_PORT=8000
SERVER_ENV=prod
SERVER_HOST=0.0.0.0
