PROJECT_NAME=hwgw-pipeline

GITHUB_USERNAME=xxx
GITHUB_PERSONAL_ACCESS_TOKEN=xxx

# Develop
COMPOSE_FILE=./docker-compose.yml:./docker-compose.local.yml

DATABASE_URI=sqlite:///../app.db
DTSCATALOG=/dts_data/catalog/hwgw-edition/collection.xml
# test
# DTSCATALOG=tests/catalog/example-collection.xml
SERVER_PORT=8000
SERVER_ENV=prod
SERVER_HOST=0.0.0.0

DAPYTAINS_VERSION=1.0.0rc2
# Set true only when demonstrating the web viewer locally.
DAPYTAINS_VIEWER_WORKAROUND=false